* {
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
/* .game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
} */